p {
  font-family: Lato;
}
.flip-card-front h1 {
  background-color: black;
  color: white;
  font-size: 60px;
  margin-top:20px;

}
.flip-card-front p {
  background-color: black;
  color: white;
  margin-top: 30%;
  font-size: 30px;
  

}
.flip-card-back p {
  background-color: black;
  color: white;
  margin-top: 15px;
  margin-left: 30px;
  text-align: justify;
}
.flip-card-back h1 {
  background-color: black;
  color: white;
}
.rows{
display:flex;
flex-wrap: wrap;
justify-content: space-between;
}

.flip-card {
  margin-top: 90px;
  margin-bottom: 90px;
  background-color: transparent;
  height: 500px;
  width: 30%;
  margin-left: 150px;
  margin-right: 170px;

  
  perspective: 1000px; 
}


.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner  {
  transform: rotateY(180deg);
}  




.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}

.flip-card-front {
  border: 30px solid transparent;
  background-color: black;
  border-image: url("https://user-images.githubusercontent.com/64660004/163306709-20a59043-3c30-4dc7-91e7-a04e5926d232.gif") 30;
}


.flip-card-back {
  border: 30px solid transparent;
  font-size: 26px;
  background-color: black;
  border-image: url("https://user-images.githubusercontent.com/64660004/163306709-20a59043-3c30-4dc7-91e7-a04e5926d232.gif") 30;
  transform: rotateY(180deg); 
}   
.btns{
  display: flex;
  font-size:35px;
  margin-left:15px;
  
}
.like-btn:hover{
  color: purple;
  cursor: pointer;
}

.like-btn{
  margin-top: 35px;
  margin-left:75px;
}

.like-btnn{
  margin-top: 35px;
  margin-left:65px;
  display: none;
}

.comment-btn{
  margin-left: 35px;
  margin-top: 40px;
}
.comment-btn:hover {
  color: purple;
  cursor: pointer;
}

.modal-dialog{
  margin-bottom: 10px;
  margin-top: 10px;
  display: none;
  background-color: black;

}
.modal-header{
  background-color: black;
}
.modal-title{
  background-color: black;
  margin-left: 50px;
  color:white;
}
.modal-body p{
  background-color: black;
  color: white;
}
.modal-body {
  background-color: black;
  height: 200px;
  overflow-y: auto;
}
.close-btn{
  color:white;
}
.close-btn:hover{
  color: purple;
  cursor: pointer;
}
.modal-footer{
  background-color: black;
}
.newComment-btn{
  color: white;
}
.newComment-btn:hover{
  color: purple;
  cursor: pointer;
}

