div.gallery {
    margin: 8px;
    /* border: 1px solid #ccc;  */
    float: left;
    width: 150px;
    z-index: 10;
}
div.gallery img {
    width: 150px;
    height: 150px;
    /* transition: transform 2500ms ease-in-out; */
    border-radius: 15px;

}
.image-gallery-container {
    width: 80%;
    height: 100%;
    margin-left: 10%;
    z-index: 3;
    position: absolute;
    
}
div.gallery img:hover {
    /* border: .5px solid red; */
    transform: scale(2);
    transform-origin: center;
    transition: transform 500ms ease-in-out;
    border-radius: 0px;
}


