:host { /* This is a pseudo-class selector referring to the componenet itself */
    display: inline-block;
}

.pic-of-the-day {
    background-color: transparent;
    width: 99vw;
    height: 80vh;
    border-radius: 20%;
}

.pic-of-the-day-container {
    width: auto;
    height: 100%;
}

img {
    border-radius: 10px;
}
