:host { /* This is a pseudo-class selector referring to the componenet itself */
    display: inline-block;
}

.pic-of-the-day {
    background-color: transparent;
    width: 95vw;
    height: auto;
    border-radius: 20%;
    opacity: 0.95;
}

.pic-of-the-day-container {
    width: auto;
    height: 100%;
}

.pic-of-the-day-title {
    padding: 25px;
}

img {
    border-radius: 10px;
}
