nav {
    margin-bottom: 20px;
    padding: 20px 0px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
    box-shadow: 1px 1px 25px 1px #0CC;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

nav h1 {
    color: #DDD;
    width: 60%;
    padding: 20px 0px;
    cursor: pointer;
    transition: all 350ms ease-out;
    border-radius: 2px;
    display: flex;
    justify-content: center;
}

hr.nav-bar-button-break {
    width: 90%;
    border: 1px dotted #11A;
    margin: 10px 0px;
}

hr.nav-break {
    width: 90%;
    border: 1px solid #11A;
    margin: 10px 0px;
}

a {
    width: auto;
    text-decoration: none;
    color: #AAA;
    border-radius: 20px;
    padding: 10px 15px;
    transition: all 250ms ease-in;
}

.nav-bar-links {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

nav h1:hover, a:hover {
    color: #fff;
}

nav a:hover {
    box-shadow: 1px 1px 15px 1px #0CC;
}

nav h1:hover {
    box-shadow: 1px 1px 20px 2px #820;
    border-radius: 20px;
    width: 25%;
}

