nav {
    margin-bottom: 20px;
    display: flex;
    width: 100%;
    height: 25vh;
    flex-direction: column;
    justify-content: space-around;
    transition: all 400ms ease-out;
    
}

nav h1 {
    color: #809848;
    margin-top: 50px;
    align-self: center;
    width: 25%;
    cursor: pointer;
    transition: all 400ms ease-in;
    padding: 10px;
    font-size: 2em;
}

a {
    background-color: transparent;
    color: #809848;
    text-decoration: none;
    padding: 10px;
    transition: all 400ms ease-in-out;
}

.nav-bar-hr {
    padding: 1px;
    background-color: #005E7C;
    border-color: #005E7C;
    align-self: center;
    border-radius: 10px;
    width: 25%;
    transition: all 400ms ease-in;
}

.nav-bar-links {
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    transition: all 250ms ease-in-out;
    padding-bottom: 40px;
}

nav h1:hover, a:hover {
    color: #C9FFE2;
    box-shadow: 1px 1px 15px 3px #809848;
    border-radius: 12px;
}

nav h1:hover {
    box-shadow: 1px 1px 15px 3px #F02040;
}

nav:hover hr.nav-bar-hr{
    padding: 4px;
    border: 1px solid #F02040;
    background-color: #F02040;
    width: 85%;
    border-radius: 5px;
    opacity: 1.0;
}

nav:hover{
    background-color: #000;
    position: relative;
}