<section class="login">
    
    <div class="login-container">
        <div class="login-header">
            <h1>Enter Username & Password</h1>
        </div>
        <div class="login-credentials">
            <div class="credentials-username">
                <label for="username">Username</label>
                <input id="username" type="text">
            </div>
            <div class="credentials-password">
                <label for="password">Password</label>
                <input id="password" type="password">
            </div>
            <button id="login-button">Login</button>
        </div>
    </div>
    
</section>